<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">hamsof</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="hamza" class="nav-link">hamza</a>
      </li>
      <li class="nav-item">
        <a routerLink="farogh" class="nav-link">farogh</a>
      </li>
      <li class="nav-item">
        <a routerLink="notlazy" class="nav-link">Not Lazy</a>
      </li>
      <li class="nav-item">
        <a routerLink="same" class="nav-link">same</a>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
